/*font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Droid Serif', serif;*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 4rem;
  background-color: black;
}

#logo{
	height: 2555px;
	

}

ul.navbar-nav.mr-auto{
	    margin-left: auto;
	        font-size: 17px;
}

/*#offCenter{
	padding-left: 0;
	padding-right: 0;
}*/

#socialIcons{
	width: 30px;
	padding: 0px 0px;
	margin: 5px 5px;
	height: 30px;
}



/*
*/
.col-md-4{
	text-align: justify;
}

.jumbotron{

	
	color: white;
	height: 500px;

}

#coverShot{
	background: url('../images/AdobeStock_72916060_Preview.jpeg') no-repeat;
	background-position: 62% 73%;
	width: 100%;
}

#coverShot2{
	background: url('../images/srlCoat.jpg') no-repeat;
	background-position: 93% 82%;
	width: 100%;
}
#about{
	float: none;
}
.btn {
	background-color: #004b8d;
	color: white;
	font-family: 'Open Sans', sans-serif;
	border-radius: 60px;
    float: right;
}

.btn:hover {
	background-color: #e31937;
	border-color: white;
	color: white;

}

.nav-bar{
	font-family: 'Droid Serif', serif;
}

 .navbar{
border-bottom: 2px solid #e4f2fa;
 	    
 	    width: 100%;
 	    margin: 0 0;
 }


}

#subTitle{
		color: #6d2a55;
	letter-spacing: 1px;
	font-family: 'Raleway', sans-serif;

	    margin: 0 101px;
	        font-size: 23px;
	         margin: 0px 139px;
	line-height: 40px;
	margin-bottom: 0px;

}

@media screen and (max-width: 900px){
#subTitle{
	font-size: 17px !important;
}
#title{
	font-size: 50px !important;
}

}

#mainHeader{
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100%; /* These two lines are counted as one :-)       */
  display: flex;
justify-content: center;
  flex-direction: column;
      text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title{
	color: #000000;
	font-size: 85px;
	letter-spacing: 2px;
	font-family: 'Droid Serif', serif;
	    text-shadow: 1px 1px 0px grey;
}

h2{
	    margin-top: 13px;

font-family: 'Droid Serif', serif;
text-align: center;
color: grey;
}

p{
font-family: 'Varela Round', sans-serif;
line-height: 25px;
color: #737373;

    text-align: justify;

}

h1:not(#title){

    font-family: 'Droid Serif', serif;
    color: #004b8d;


    width: 100%;

    text-align: center !important;

  
}





 #srlLogo{
 	height: 25px;
 	display: inline-block;
 	margin-bottom: 5px;
 	margin-top: 5px;
 }

@media screen and (min-width: 1000px){
 .fixed-top {
     
}
.thumbnail img{
    // your styles for the image
    
    height: 100%;
    display: block;
    padding: 0px 0px;

}.img-thumbnail{
	max-width: 300px;
	
    margin-left: auto;
    margin-right: auto;
     top: -9px;
    position: relative;
}

 }

 div.row {
 	    width: 100%;
 	    margin: 0 0;
 }

 h2{
	

/*height: 14%;*/
}
p{

/*height: 50%;
margin-bottom: 5px;*/
}
#subTitle{
		   
}
.thumbnail{   
margin-top: 15%;     
    width: 100%; 
    height: 225px;
    overflow: hidden;




}

#iconBox {
	margin-left:12%;
}
#logo{
	height: 55px;
	

}
}

h2{
	margin: 10px 0px;

    text-align: left;
}


.vcenter {
    display: flex;
    align-items: center;
}



#contact2{
	font-size: 16px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	color: black;
	text-align: center !important;
}

form-group{
	text-align: center;
}


.dropdown-item:not(:last-child){
	border-bottom: 1px solid #d4d4d4;
}

.dropdown-menu{
	padding-top: 0px;
	padding-bottom: 0px;

}

.dropdown-item{
color: #002b5c;
padding-top: 15px;
padding-bottom: 15px;
}

.dropdown-item:hover{
	background-color: #002b5c;
	color: white;
}


#logoFooter{
      width: 309px;
    margin-top: 28px;
 

}
.footer-distributed{
	background: linear-gradient(to top, rgba(0, 0, 0, 0.33) 0%,#004b8d 100%);
		background-color: #004b8d;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 36%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;

	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #086bbe;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
	
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  rgb(83, 131, 211);
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #086bbe;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}



#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }

#labs{
	text-align: center;
	background-color: #ffffff;
	padding: 20px 10px;
	font-size: 17px;
	color: rgb(0, 75, 141);
	border-radius: 60px;
	 
		 

}

h2#labs{
	font-weight: bold;
	color: blue;
}

#credit {
	font-size: 10px;
}

#articleClaude{
	max-width: 500px;
}

h5{
	text-align: center;
	color: #004b8d;
}

h3{
	text-align: center;
	color:#004b8d;
}

#locationContainer{
		margin: 10px 10px;
		


}