/*font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Droid Serif', serif;*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 4rem;
  background-color: rgba(197, 197, 197, 0.26);
}

#logo{
	height: 55px;
	

}

ul.navbar-nav.mr-auto{
	    margin-left: auto;
	        font-size: 17px;
}

/*#offCenter{
	padding-left: 0;
	padding-right: 0;
}*/

#socialIcons{
	width: 30px;
	padding: 0px 0px;
	margin: 5px 5px;
	height: 30px;
}



footer{
	background-color: #002b5c;
	text-align: center;
    bottom: 0;
    width: 100%;
    height: 152px;
    margin: 0px 0px;
    padding-top: 5px;
    color: white;
    border-top: ;
}

.col-md-4{
	text-align: justify;
}

.jumbotron{

	
	color: white;
	height: 500px;

}

#coverShot{
	background: url('../images/AdobeStock_72916060_Preview.jpeg') no-repeat;
	background-position: 62% 73%;
	width: 100%;
}
#about{
	float: none;
}
.btn {
	background-color: #004b8d;
	color: white;
	font-family: 'Open Sans', sans-serif;
	border-radius: 60px;
    float: right;
}

.btn:hover {
	background-color: #e31937;
	border-color: white;
	color: white;

}

.nav-bar{
	font-family: 'Droid Serif', serif;
}

.navbar{
	
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+27,f1f1f1+62,e1e1e1+80,e1e1e1+86,f6f6f6+97 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 27%, rgba(241,241,241,1) 62%, rgba(225,225,225,1) 80%, rgba(225,225,225,1) 86%, rgba(246,246,246,1) 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 27%,rgba(241,241,241,1) 62%,rgba(225,225,225,1) 80%,rgba(225,225,225,1) 86%,rgba(246,246,246,1) 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 27%,rgba(241,241,241,1) 62%,rgba(225,225,225,1) 80%,rgba(225,225,225,1) 86%,rgba(246,246,246,1) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}

#subTitle{
		color: #002b5c;
	letter-spacing: 1px;
	font-family: 'Raleway', sans-serif;

	    margin: 0 101px;
	        font-size: 23px;
}

@media screen and (max-width: 900px){
#subTitle{
	font-size: 17px !important;p
}
#title{
	font-size: 50px !important;
}

}

#mainHeader{
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100%; /* These two lines are counted as one :-)       */
  display: flex;
justify-content: center;
  flex-direction: column;
      text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title{
	font-size: 85px;
	letter-spacing: 2px;
	font-family: 'Droid Serif', serif;
	    text-shadow: 1px 1px 0px grey;
}

h2{
	
font-family: 'Droid Serif', serif;
text-align: center;
color: grey;
}

p{
font-family: 'Varela Round', sans-serif;
line-height: 25px;
color: black;

    text-align: justify;

}

h1:not(#title){

    font-family: 'Droid Serif', serif;
    color: #004b8d;


    width: 100%;

    text-align: center !important;

  
}





 #srlLogo{
 	height: 25px;
 	display: inline-block;
 	margin-bottom: 5px;
 	margin-top: 5px;
 }

@media screen and (min-width: 1000px){
 .fixed-top {
     
}
.thumbnail img{
    // your styles for the image
    
    height: 100%;
    display: block;
    padding: 0px 0px;

}.img-thumbnail{
	max-width: 300px;
	
    margin-left: auto;
    margin-right: auto;
     top: -9px;
    position: relative;
}

 }

 div.row {
/* 	    margin-top: 38px;
    margin-bottom: 38px;*/
 }

 h2{
	

/*height: 14%;*/
}
p{

/*height: 50%;
margin-bottom: 5px;*/
}
#subTitle{
		    margin: 0px 139px;
	line-height: 40px;
	margin-bottom: 0px;

}
.thumbnail{   
margin-top: 15%;     
    width: 100%; 
    height: 225px;
    overflow: hidden;




}

#iconBox {
	margin-left:12%;
}
#logo{
	height: 55px;
	

}
}

h2{
	margin: 10px 0px;

    text-align: left;
}


.vcenter {
    display: flex;
    align-items: center;
}



#contact{
	font-size: 15px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

form-group{
	text-align: center;
}


.dropdown-item:not(:last-child){
	border-bottom: 1px solid #d4d4d4;
}

.dropdown-menu{
	padding-top: 0px;
	padding-bottom: 0px;

}

.dropdown-item{
color: #002b5c;
padding-top: 15px;
padding-bottom: 15px;
}

.dropdown-item:hover{
	background-color: #002b5c;
	color: white;
}

footer{
	background: linear-gradient(to bottom, rgba(174, 211, 255, 0.44) 0%,#004b8d 100%);
	background-color: #004b8d;
	text-align: center;
    bottom: 0;
    width: 100%;
    height: 152px;
    margin: 0px 0px;
    padding-top: 5px;
    color: lightgray;
    border-top: ;
}


#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }

#labs{
	text-align: center;
	background-color: #ffffff;
	padding: 20px 10px;
	font-size: 17px;
	color: rgb(0, 75, 141);
}

h2#labs{
	font-weight: bold;
	color: blue;
}

#credit {
	font-size: 10px;
}

#articleClaude{
	max-width: 500px;
}

h5{
	text-align: center;
}

h3{
	text-align: center;
	color:#004b8d;
}