/*font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Droid Serif', serif;*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 4rem;
  background-color: rgba(197, 197, 197, 0.26);
}

#logo{
	height: 55px;
	

}

/*#offCenter{
	padding-left: 0;
	padding-right: 0;
}*/

#socialIcons{
	width: 30px;
	padding: 0px 0px;
	margin: 5px 5px;
	height: 30px;
}



#logoFooter{
      width: 309px;
    margin-top: 28px;
 

}
.footer-distributed{
	background: linear-gradient(to top, rgba(0, 0, 0, 0.33) 0%,#004b8d 100%);
		background-color: #004b8d;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 36%;
	    text-align: center;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;

	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
	font-family: 'Varela Round', sans-serif;
}

.footer-distributed .footer-center i{
	background-color:  #086bbe;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;

}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	font-family: 'Varela Round', sans-serif;
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  rgb(83, 131, 211);
	font-size: 13px;
	font-weight: normal;
	margin: 0;
	font-family: 'Varela Round', sans-serif;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #086bbe;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}





.col-md-4{
	text-align: justify;
}

.jumbotron{

	color: white;
	text-shadow: 1px 1px 5px black;
	height: 500px;

}

#coverShot{
	background: url('../images/lab.jpg') no-repeat;	
	background-position: 99% 34%;
	width: 100%;
}
.btn {
	background-color: #004b8d;
	color: white;
	font-family: 'Open Sans', sans-serif;
	border-color: #6a83b5;
}

.btn:hover {
	background-color: #6a83b5;
	border-color: white;

}

.nav-bar{
	font-family: 'Droid Serif', serif;
}

 .navbar{
border-bottom: 2px solid #e4f2fa;
 	    
 	    width: 100%;
 	    margin: 0 0;
 }


}
#subTitle{

	letter-spacing: 1px;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0px;
}

@media screen and (max-width: 900px){
#subTitle{
	font-size: 17px !important;p
}
#title{
	font-size: 50px !important;
}

}

#mainHeader{
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100%; /* These two lines are counted as one :-)       */
  display: flex;
justify-content: center;
  flex-direction: column;
  text-align: center;
}

#title{
	font-size: 85px;
	letter-spacing: 2px;
	font-family: 'Droid Serif', serif;
	    text-shadow: 1px 1px 0px grey;
}

h2{
	
font-family: 'Droid Serif', serif;
text-align: center;
color: grey;
}

p{
font-family: 'Raleway', sans-serif;
line-height: 25px;


}

h1:not(#title){
	color: black;
	font-family: 'Droid Serif', serif;
	opacity: 0.9;
	margin: 20px 0px;
    width: 100%;

  
}





 #srlLogo{
 	height: 25px;
 	display: inline-block;
 	margin-bottom: 5px;
 	margin-top: 5px;
 }

@media screen and (min-width: 1000px){
 .fixed-top {
   
}
.thumbnail img{
    // your styles for the image
    width: 100%;
    height: 200px;
    display: block;
    padding: 0px 0px;

}.img-thumbnail{
	max-width: 300px;
	
    margin-left: auto;
    margin-right: auto;
 
 }

   div.row {
 	    width: 100%;
 	    margin: 0 0;
 }

 h2{
	

/*height: 14%;*/
}
p{

/*height: 50%;
margin-bottom: 5px;*/
}
#subTitle{

	line-height: 40px;
	margin-bottom: 0px;
	font-style: italic;
}
.thumbnail{   
margin-top: 15%;     
    width: 100%; 
    height: 150px;
    overflow: hidden;




}
ul.navbar-nav.mr-auto{
	    margin-left: auto;
	        font-size: 17px;
}#iconBox {
margin-left:12%;
}
#logo{
	height: 55px;
	margin-right: 55px;

}
}

h2{
	margin: 10px 0px;
}


.vcenter {
    display: flex;
    align-items: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

tr:nth-child(even) {
    background-color: #dddddd;
}

#tableHead{
	background-color: #004b8d;
	color: white;
}

.dropdown-item:not(:last-child){
	border-bottom: 1px solid #d4d4d4;
}

.dropdown-menu{
	padding-top: 0px;
	padding-bottom: 0px;

}
#credit {
	font-size: 10px;
}
.dropdown-item{
color: #002b5c;
padding-top: 15px;
padding-bottom: 15px;
}

.dropdown-item:hover{
	background-color: #002b5c;
	color: white;
}



h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: center;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: center;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: white;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #efefef;
}

.container th {
	      background: linear-gradient(to top, rgba(0, 0, 0, 0.33) 0%,#004b8d 100%);
    background-color: #004b8d;
}

.container td:first-child { color: black; }

.container tr:hover {
   background-color: #e31937;
   color: white;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;

}

.container td:hover {
	 
   
  background-color: #e31937;
  color: white;
  font-weight: bold;
  
  box-shadow: #650715 -1px 1px, #650715 -2px 2px, #650715 -3px 3px, #650715 -4px 4px, #650715 -5px 5px, #650715 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}