/*font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Droid Serif', serif;*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 4rem;
  background-color: rgba(197, 197, 197, 0.26);
}

#logo{
	height: 55px;
	

}

/*#offCenter{
	padding-left: 0;
	padding-right: 0;
}*/

#socialIcons{
	width: 30px;
	padding: 0px 0px;
	margin: 5px 5px;
	height: 30px;
}



footer{
	background-color: #002b5c;
	text-align: center;
    bottom: 0;
    width: 100%;
    height: 125px;
    margin: 0px 0px;
    padding-top: 5px;
    color: lightgray;
    border-top: ;
}

.col-md-4{
	text-align: justify;
}

.jumbotron{

	color: white;
	text-shadow: 1px 1px 5px black;
	height: 384px;

}

#coverShot{
	background: url('../images/srlWindow.jpg') no-repeat;
	background-position: 40% 30%;
	width: 100%;
}

.btn {
	background-color: #004b8d;
	color: white;
	font-family: 'Open Sans', sans-serif;
	border-color: #6a83b5;
}

.btn:hover {
	background-color: #6a83b5;
	border-color: white;

}

.nav-bar{
	font-family: 'Droid Serif', serif;
}

.navbar{
	border-bottom: 5px solid #004b8d;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+27,f1f1f1+62,e1e1e1+80,e1e1e1+86,f6f6f6+97 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 27%, rgba(241,241,241,1) 62%, rgba(225,225,225,1) 80%, rgba(225,225,225,1) 86%, rgba(246,246,246,1) 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 27%,rgba(241,241,241,1) 62%,rgba(225,225,225,1) 80%,rgba(225,225,225,1) 86%,rgba(246,246,246,1) 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 27%,rgba(241,241,241,1) 62%,rgba(225,225,225,1) 80%,rgba(225,225,225,1) 86%,rgba(246,246,246,1) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}

#subTitle{

	letter-spacing: 1px;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0px;
}

@media screen and (max-width: 900px){
#subTitle{
	font-size: 17px !important;p
}
#title{
	font-size: 50px !important;
}

}

#mainHeader{
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100%; /* These two lines are counted as one :-)       */
  display: flex;
justify-content: center;
  flex-direction: column;
  text-align: center;
}

#title{
	letter-spacing: 2px;
	font-family: 'Droid Serif', serif;
}

h2{
	
font-family: 'Droid Serif', serif;
text-align: center;
color: grey;
}

p{
font-family: 'Raleway', sans-serif;
line-height: 25px;


}

h1:not(#title){
	color: black;
	font-family: 'Droid Serif', serif;
	opacity: 0.9;
	margin: 20px 0px;
    width: 100%;

  
}





 #srlLogo{
 	height: 25px;
 	display: inline-block;
 	margin-bottom: 5px;
 	margin-top: 5px;
 }

@media screen and (min-width: 1000px){
 .fixed-top {
   
}
.thumbnail img{
    // your styles for the image
    width: 100%;
    height: 200px;
    display: block;
    padding: 0px 0px;

}.img-thumbnail{
	max-width: 300px;
	
    margin-left: auto;
    margin-right: auto;
 
 }

 div.row {
/* 	    margin-top: 38px;
    margin-bottom: 38px;*/
 }

 h2{
	

/*height: 14%;*/
}
p{

/*height: 50%;
margin-bottom: 5px;*/
}
#subTitle{

	line-height: 40px;
	margin-bottom: 0px;
	font-style: italic;
}
.thumbnail{   
margin-top: 15%;     
    width: 100%; 
    height: 150px;
    overflow: hidden;




}
ul.navbar-nav.mr-auto{
	    margin-left: auto;
}
#iconBox {
margin-left:12%;
}
#logo{
	height: 55px;
	margin-right: 55px;

}
}

h2{
	margin: 10px 0px;
}


.vcenter {
    display: flex;
    align-items: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#tableHead{
	background-color: #004b8d;
	color: white;
}

.dropdown-item:not(:last-child){
	border-bottom: 1px solid #d4d4d4;
}

.dropdown-menu{
	padding-top: 0px;
	padding-bottom: 0px;

}
#credit {
	font-size: 10px;
}
.dropdown-item{
color: #002b5c;
padding-top: 15px;
padding-bottom: 15px;
}

.dropdown-item:hover{
	background-color: #002b5c;
	color: white;
}

footer{
	background-color: #002b5c;
	text-align: center;
    bottom: 0;
    width: 100%;
    height: 152px;
    margin: 0px 0px;
    padding-top: 5px;
    color: lightgray;
    border-top: ;
}
